@media (max-width: 1200px) {
    .hero-titel {
        font-size: 20px;
      }
    .coffee-image {
      display: flex;
      max-width: 200px;
      height: auto;
      margin-left: auto;
      margin-right: -50px;
    }
  }
  