@media (max-width: 1200px) {
    .hero-titel {
        font-size: 30px !important;
    }

    .herotext {
        font-size: 18px !important;
    }

    .coffee-image {
        display: flex;
        max-width: 200px;
        height: auto;
        margin-left: auto;
        margin-right: -50px;
    }
    .spender-message-header {
        font-size: 30px !important;
    }
}

@media (max-width: 991px) {
    .hero-titel {
        font-size: 25px !important;
    }

    .herotext {
        font-size: 16px !important;
    }

    .coffee-image {
        display: flex;
        max-width: 180px;
        height: auto;
        margin-left: auto;
        margin-right: -50px;
    }
    .spender-message-header {
        font-size: 25px !important;
    }
}
@media (max-width: 850px) {
    .header-section{
        margin: 0;
    }
    .hero-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
      }
    
      .hero-section-left {
        grid-column: 1 / span 1;
      }
    
      .hero-section-right {
        grid-column: 2 / span 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    .hero-titel {
        font-size: 20px !important;
    }

    .herotext {
        font-size: 14px !important;
    }

    .coffee-image {
        display: flex;
        max-width: 180px;
        height: auto;
        margin-left: auto;
        margin-right: -50px;
    }
    .spender-message-header {
        font-size: 20px !important;
    }
}